# Direktori yang tidak perlu diunggah
/node_modules/
/vendor/
/storage/
database/

# File lingkungan & konfigurasi sensitif
.env
.env.*
*.key

# Log dan cache
npm-debug.log
yarn-error.log
.phpunit.result.cache

# File khusus editor/IDE
/.idea/
/.vscode/

# Laravel & Docker
/public/hot
/public/storage
docker-compose.override.yml
Homestead.json
Homestead.yaml
